kafka-consumer-app/src/main/mule/consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka" 
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin" 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="ConsumeMessages" doc:id="5c9975aa-5385-469d-9a02-702346f73e0f" maxConcurrency="1">
		
		<kafka:message-listener doc:name="Message Listener" doc:id="1db2ec76-78b0-4820-a039-09e142b09d9c" config-ref="Apache_Kafka_Consumer_configuration" ackMode="AUTO" parallelConsumersAmount="${kafka.listener.parallel}">
			<reconnect />
		</kafka:message-listener>
		<logger level="INFO" doc:name="Log Record Metadata" doc:id="329b19e1-d57b-45be-9ec7-9ac9ff2e4b54" message='#["Partition: "++ attributes.partition ++ " and offset: " ++ attributes.offset]' category="kafka-consumer"/>
		<logger level="DEBUG" doc:name="Log Payload (Debug)" doc:id="64a8e966-879e-497a-bed6-7887ada48df2" message="#[payload]"/>
	</flow>
	
</mule>

