kafka-publisher-app/src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd">
	
	<configuration-properties doc:name="Configuration properties" doc:id="40838442-02b4-4751-871f-2271501ed722" file="properties/configuration.${mule.env}.yaml" />

	<http:listener-config name="cloudhub-httpListenerConfig">
        <http:listener-connection host="${https.listener.host}" port="${https.listener.port}"/>
    </http:listener-config>

	<kafka:producer-config name="Apache_Kafka_Sticky_Producer_configuration" doc:name="Apache Kafka Producer configuration" doc:id="e1e892b4-8272-4cd6-83a7-8d42c3975bfd" >
		<kafka:producer-sasl-plain-connection username="${kafka.username}" password="${kafka.password}" endpointIdentificationAlgorithm="disabled" producerAck="ALL" batchSize="160" partitioner="UNIFORM_STICKY">
			<reconnection failsDeployment="true" >
				<reconnect />
			</reconnection>
			<tls:context >
				<tls:trust-store path="${kafka.tls.path}" password="${kafka.tls.password}" type="jks"/>
			</tls:context>
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="pkc-ep9mm.us-east-2.aws.confluent.cloud:9092" />
			</kafka:bootstrap-servers>
		</kafka:producer-sasl-plain-connection>
	</kafka:producer-config>
	
	<kafka:producer-config name="Apache_Kafka_Default_Producer_configuration" doc:name="Apache Kafka Producer configuration" doc:id="eecf0836-4e99-403d-aa24-26178645723e" >
		<kafka:producer-sasl-plain-connection username="${kafka.username}" password="${kafka.password}" endpointIdentificationAlgorithm="disabled" producerAck="ALL" batchSize="160">
			<reconnection failsDeployment="true" >
				<reconnect />
			</reconnection>
			<tls:context >
				<tls:trust-store path="${kafka.tls.path}" password="${kafka.tls.password}" type="jks"/>
			</tls:context>
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="pkc-ep9mm.us-east-2.aws.confluent.cloud:9092" />
			</kafka:bootstrap-servers>
		</kafka:producer-sasl-plain-connection>
	</kafka:producer-config>
	<global-property doc:name="Global Property" doc:id="4e739bd2-d4b2-4c2c-9f8a-6f4cf902694d" name="mule.env" value="dev" />
	
	<flow name="api-listener_publish-to-kafka-topic" doc:id="6540f2c4-35f4-4b8a-922b-0839c561e8b6" >
		<http:listener doc:name="Listener" doc:id="8b22b0a6-253a-4f49-93bf-95dd738a7389" config-ref="cloudhub-httpListenerConfig" path="/publish"/>
		<logger level="INFO" doc:name="Log Request Received" doc:id="c062ce0a-76ec-404d-8696-2a342b1de1b1" message="Log"/>
		<kafka:publish doc:name="Publish" doc:id="e1dc8a47-2672-42d5-af6f-71a4c314953c" config-ref="Apache_Kafka_Default_Producer_configuration"/>
	</flow>
	<sub-flow name="global_compile-message-list" doc:id="9a8f1354-4c45-4258-ad49-576f83718e3d" >
		<ee:transform doc:name="Transform to json" doc:id="5de15b1a-5c19-4df0-ab67-dbcf2d53c50a">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
var msgSize=attributes.queryParams.msgSize as Number
---
1 to msgSize map {
	customerId: $ mod 10,
    message: correlationId ++ "-m-"++ $
}]]></ee:set-payload>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="partitionSize"><![CDATA[%dw 2.0
output application/java
---
p('kafka.topic.partition.size')]]></ee:set-variable>
			</ee:variables>
			</ee:transform>
		<logger level="INFO" doc:name="Log Counter " doc:id="301ea2c1-10d6-4518-93f0-30c13c3927e6" message="Number of messages getting published to kafka topic: #[sizeOf(payload)] " />
	</sub-flow>
</mule>
